@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">This is the only page we will work with. Ignore Others</p>
    <p><a href="http://google.com" class="btn btn-primary btn-lg">This Leads To Google</a></p>
    <p><a onclick="location.href='@Url.Action("SendButton","Home","Index")'" class="btn btn-primary btn-lg">This is Our Test Button</a></p>
</div>

<div class="row">
    
</div>